html, body {
  height: 100%;
  margin: auto;
}

pre {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  border: 2px solid black;
  margin: auto;
}

#newImage {
  font-family: Consolas, monaco, monospace;
  font-size: .7vw;
  text-align: center;
  max-height: 70vh;
  /*max-width: 60vw;*/
  margin: auto;
}

.vh90 {
  height: 90vh;
}

.btnCenter {
  position: absolute;
  top: 40%;
  left: 48.55%;
  -ms-transform: translateX(-40%) translateY(-48.55%);
  -webkit-transform: translate(-40%, -48.55%);
  transform: translate(-40%, -48.55%);
}

.txtCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.paddingTop {
  padding-top: 3.5em;
}

.btn-xl, .btn-group-xl>.btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.8rem;
  line-height: 2;
  border-radius: 0.4rem;
}

.float-right {
  margin-right: 2em;
}

.asciiTxt {
  border: none;
  font-size: 1vw;
  margin-top: 4em;
  font-weight: bold;
}


/*remove picker logo*/
div.fsp-picker__footer.fsp-picker__footer--visible {
  display: none;
}

.lion {
  margin-top: 0;
  transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  -webkit-transform: scale(0.4, 0.4);
  display: inline-block;
}

.br {
  margin-bottom: 1em;
}

.br2 {
  margin-bottom: 2em;
}

.br4 {
  margin-bottom: 4em;
}

.bold {
  font-weight: bold;
}

/*
=================================
background color dropdown colors
=================================
*/

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.rainbow {
  background-image: url("../img/rainbow.png");
  background-size: 100%;
}


/*background: -moz-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/


/* ff3.6+ */


/*background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff0000), color-stop(25%, #ffff00), color-stop(50%, #008000), color-stop(75%, #0000ff), color-stop(100%, #ff00ff));*/


/* safari4+,chrome */


/*background: -webkit-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/


/* safari5.1+,chrome10+ */


/*background: -o-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/


/* opera 11.10+ */


/*background: -ms-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/


/* ie10+ */


/*background: linear-gradient(90deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/


/* w3c */


/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff00ff', GradientType=1);*/


/* ie6-9 */


/*}*/


/*
=================================
    monochrome font options
=================================
*/

.f-bold {
  font-weight: bold;
}

.f-red {
  color: red;
  /*background-color: red;*/
}

.f-orange {
  color: orange;
}

.f-yellow {
  color: yellow;
}

.f-green {
  color: green;
}

.f-blue {
  color: blue;
}

.f-indigo {
  color: indigo;
}

.f-violet {
  color: violet;
}

.f-black {
  color: black;
}

.f-white {
  color: white;
}

.grayBack {
  background-color: #cbcbcb;
}

/*
=================================
        media queries
=================================
*/

@media only screen and (max-device-width: 666px) {
  .btnCenter {
    position: absolute;
    top: 35%;
    left: 41.5%;
    -ms-transform: translateX(-35%) translateY(-41.5%);
    -webkit-transform: translate(-35%, -41.5%);
    transform: translate(-35%, -41.5%);
  }
  .txtCenter {
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translateX(-55%) translateY(-50%);
    -webkit-transform: translate(-55%, -50%);
    transform: translate(-55%, -50%);
    text-align: center;
  }

  .saveBtn {
    display: none !important;
  }
}
