html,
body {
  height: 100%;
  margin: auto;
}

pre {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  border: 2px solid black;
  margin: auto;
}

#newImage {
  font-family: Consolas, monaco, monospace;
  font-size: .7vw;
  text-align: center;
  max-height: 70vh;
  /*max-width: 60vw;*/
  margin: auto;
}

.vh95 {
  height: 95vh;
}


  .btnCenter {
  position: absolute;
  top:45%;
  left:50%;
  -ms-transform: translateX(-45%) translateY(-50%);
  -webkit-transform: translate(-45%,-50%);
  transform: translate(-45%,-50%);
}

.btnCenterTop {
  position:absolute;
  top:40%;
  left:49%;
  -ms-transform: translateX(-40%) translateY(-49%);
  -webkit-transform: translate(-40%,-49%);
  transform: translate(-40%,-49%);
  text-align: center;
}

 /*remove picker logo*/
div.fsp-picker__footer.fsp-picker__footer--visible {
  display: none;
}


/*
=================================
background color dropdown colors
=================================
*/

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.rainbow {
  background-image: url("../img/rainbow.png");
  background-size: 100%;
}

  /*background: -moz-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/
  /* ff3.6+ */
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff0000), color-stop(25%, #ffff00), color-stop(50%, #008000), color-stop(75%, #0000ff), color-stop(100%, #ff00ff));*/
  /* safari4+,chrome */
  /*background: -webkit-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/
  /* safari5.1+,chrome10+ */
  /*background: -o-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/
  /* opera 11.10+ */
  /*background: -ms-linear-gradient(0deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/
  /* ie10+ */
  /*background: linear-gradient(90deg, #ff0000 0%, #ffff00 25%, #008000 50%, #0000ff 75%, #ff00ff 100%);*/
  /* w3c */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff00ff', GradientType=1);*/
  /* ie6-9 */
/*}*/


/*
=================================
    monochrome font colors
=================================
*/

.f-red {
  color: red;
  /*background-color: red;*/
}

.f-orange {
  color: orange;
}

.f-yellow {
  color: yellow;
}

.f-green {
  color: green;
}

.f-blue {
  color: blue;
}

.f-indigo {
  color: indigo;
}

.f-violet {
  color: violet;
}

.f-black {
  color: black;
}

.f-white {
  color: white;
}

.grayBack {
  background-color: #cbcbcb;
}
